* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
  padding: 20px;
  color: white;
  background: rgb(121,59,167);
background: linear-gradient(90deg, rgba(121,59,167,1) 4%, rgba(79,0,209,1) 47%, rgba(31,0,91,1) 91%);
}
.rang{
    color: #00ff0d;
}
.container {
    margin: 0 auto;
    width: 80%;
}
.row{
    width: 500px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
    justify-content: center;
    background: rgb(121,59,167);
    background: linear-gradient(90deg, rgba(121,59,167,1) 4%, rgba(79,0,209,1) 47%, rgba(31,0,91,1) 91%);
}

h1 {
    margin-bottom: 20px;
    color: #ffffff;
    text-align: center;
}

.info p {
    margin: 5px 0;
    color: #ffffff;
    font-size: 20px;
}
strong{
    color: white;
}
.contact-form {
    display: flex;
    flex-direction: column;
}

input, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    width: 100%;
    cursor: pointer;
}

textarea {
    resize: vertical;
    min-height: 80px;
}

button {
    padding: 10px;
    border: none;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}
